@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}


.container-MovieCard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.title {

    text-align: center;
}

/************************************* card *************************************/

.movie-card {
    position: relative;
}

.movie-card img {
    transition: 0.3s ease;
}

/* Overlay nascosto di default */
.movie-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 10px;

    background: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

/* Al passaggio del mouse compare overlay */
.movie-card:hover .overlay {
    opacity: 1;
}

/* L’immagine si scurisce */
.movie-card:hover img {
    filter: brightness(60%);
}

/* MODALE */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(46, 46, 46, 0.636) !important;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    color: black;
}

/* navabar */

.navbar {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-color: #1e1e1e;
    border-bottom: 2px solid #333;

}

/* Stile base dei link */
.nav-item {
    text-decoration: none;
    color: #ddd;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
}

/* Hover: cambia colore */
.nav-item:hover {
    color: #fff;
}

/* Active: quando la pagina è quella corrente */
.nav-item.active {
    color: #ffdd55;
    font-weight: 600;
}

/* Per evitare shift quando passa da normal a bold */
.nav-item {
    display: inline-flex;
    align-items: center;
}

.app-background {
    min-height: 100vh;
    width: 100%;
    padding: 20px;

    background-image: url("../src/assets/background.png");
    background-size: cover;
    /* copre tutto lo schermo */
    background-repeat: repeat;
    /* opzionale: si ripete */
    background-attachment: fixed;
    /* effetto elegante */
    background-position: center;
    color: white;
}

.movietitle {
    margin-top: 5px;
}